/*--Main style--*/
body{
	background-color: #f1f1f1;
	overflow-y: scroll;
}
.header{
	background-color: #5F5F5F;
	color: #FFFFFF;
	width: 100%;
	position: fixed;
	z-index: 1;
}
.header-logo{
	padding: 10px;
}
.header-logo .thumbnail{
	width: 40px;
	height: 40px;
}
.header-title p{
	margin-top: 15px;
	font-size: 20px;
}
.header-userlogin p{
	display: inline-block;
	margin-top: 20px;
	margin-right: 10px;
	margin-bottom: 10px;
}
.logout-btn{
	font-size: 16px;
	margin-right: 15px;
	margin-bottom: 5px;

	color: #FFFFFF;
}
@media (max-width: 992px){
	.header-logo .thumbnail{
		width: 80px;
		height: 80px;
	}
	.header-title p{
		margin-top: 5px;
		text-align: center;
	}
}
@media (max-width: 768px){
	.header-logo .thumbnail{
		width: 40px;
		height: 40px;
	}
	.header-title p{
		margin-left: 5px;
		margin-right: 5px;
		text-align: center;
	}
}
.header-line{
	background-color: #F68002;	
	height: 5px;
}
.content{
	color: #333333;
}
.aside{
	background-color: #E6E6E6;
	overflow-y: scroll;
	position: fixed;
}
.aside-resize{
	display: none;
	width: 100%;
	position: fixed;
	z-index: 2;
}
.aside-resize .navbar{
	border: 0;
}
.aside-resize ul.dropdown-menu{
	background-color: #E6E6E6;
}
.aside-resize ul.dropdown-menu li:hover{
	background-color: #CCCCCC;
}

/*--Section style--*/
.section{
	overflow: hidden;
	margin-top: 20px;
	z-index: 0;
}
.section .well p{
	padding-left: 5px;
}
.status-label{
	margin: 0 5px;
	padding: 0 15px;
}
.status-label-approve{
	background-color: #3A87AD;
}
.status-label-notapprove{
	background-color: #E04343;
}
ul.pagination li a{
	cursor: pointer;
}

/*--Text style--*/
.text-indent{
	margin-right: 5px;
}
.text-indent-p{
	margin-left: 25px;
}
.text-error{
	display: block;
	padding-top: 5px;
	text-align: right;
	color: #a94442;
}

/*--Position style--*/
.margin-top{
	margin-top: 10px;
}
.no-margin-top{
	margin-top: 0;
}
.margin-bottom{
	margin-bottom: 10px;
}
.no-margin-bottom{
	margin-bottom: 0;
}
.vertical-center{
	vertical-align: middle !important;
}
.col-center{
    float: none;
    margin: 0 auto;
}
.col-block{
    float: none;
}
.col-block .input-group,
.col-inline .input-group,
.col-inline-sub .input-group{
	width: 100%;
}
.col-block .input-group .input-group-addon,
.col-inline .input-group .input-group-addon,
.col-inline-sub .input-group .input-group-addon{
	text-align: left;
}
.col-block .input-group .input-group-addon,
.col-inline .input-group .input-group-addon{
	width: 30%;
}
.col-inline-sub .input-group .input-group-addon{
	width: 40%;
}

/*--Component style--*/
.well p{
    font-size: 16px;
    margin-bottom: 0;
}
.well-default{
	background-color: #5F5F5F;
    border-left: 7px solid #F68002;
    color: #FFFFFF;
}
.panel-sub{
	border-color: #ddd;
}
.panel-sub .panel-heading{
	background-color: #617777;
    border-color: #ddd;
    color: #FFFFFF;
}
.table-head-color{
	background-color: #879d9d;
	color: #FFFFFF;
}
.modal-header-default{
	background-color: #4CAF50;
	color: #FFFFFF;
}
.panel-group-addon .panel{
	border: 1px solid #CCCCCC;
}
.panel-group-addon .panel-body{
	padding-top: 0; 
	padding-bottom: 0;
}
.panel-group-addon .panel-group-addon .row{
	display: table; 
	background-color: #EEEEEE;
}
.panel-group-addon .panel-group-addon-left{
	display: table-cell; 
	vertical-align: middle;
	padding: 6px 12px; 
	background-color: #EEEEEE; 
	color: #555; 
}
.panel-group-addon .panel-group-addon-right{
	display: table-cell;
	vertical-align: middle; 
	padding: 6px 12px; 
	background-color: #FFFFFF; 
	border-left: 1px solid #ccc;
}
.callout{
    padding: 10px 15px;
    margin: 10px 0 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    color: #12586d;
 }
 .callout-info{
    border-left-color: #1b809e;
    background-color: #f7f7f9;
}
.btn-confirm,
.btn-confirm[disabled]:hover{
    background-color: #51959a;
    border-color: #51959a;
    color: #FFFFFF;
}
.btn-confirm:hover,
.btn-confirm:focus{
    background-color: #347781;
    border-color: #347781;
    color: #FFFFFF;
}
.btn-print,
.btn-print[disabled]:hover{
    background-color: #ec7366;
    border-color: #ec7366;
    color: #FFFFFF;
}
.btn-print:hover,
.btn-print:focus{
    background-color: #e95e4f;
    border-color: #e95e4f;
    color: #FFFFFF;
}
.btn-search,
.btn-search[disabled]:hover{
    background-color: #4784a9;
    border-color: #4784a9;
    color: #FFFFFF;
}
.btn-search:hover,
.btn-search:focus{
    background-color: #407697;
    border-color: #407697;
    color: #FFFFFF;
}
.btn-cancel,
.btn-cancel[disabled]:hover{
    background-color: #fe5656;
    border-color: #fe5656;
    color: #FFFFFF;
}
.btn-cancel:hover,
.btn-cancel:focus{
    background-color: #fe3d3d;
    border-color: #fe3d3d;
    color: #FFFFFF;
}
.btn-logout,
.btn-logout[disabled]:hover{
    background-color: #ec7366;
    border-color: #ec7366;
    color: #FFFFFF;
}
.btn-logout:hover,
.btn-logout:focus{
    background-color: #e95e4f;
    border-color: #e95e4f;
    color: #FFFFFF;
}
.btn-show,
.btn-show[disabled]:hover{
    background-color: #5DC4EA;
    border-color: #5DC4EA;
    color: #FFFFFF;
}
.btn-show:hover,
.btn-show:focus{
    background-color: #46bce7;
    border-color: #46bce7;
    color: #FFFFFF;
}
.btn-permission,
.btn-permission[disabled]:hover{
    background-color: #7181b8;
    border-color: #7181b8;
    color: #FFFFFF;
}
.btn-permission:hover,
.btn-permission:focus{
    background-color: #6072af;
    border-color: #6072af;
    color: #FFFFFF;
}
.btn-confirm-popup,
.btn-confirm-popup[disabled]:hover{
    background-color: #5F5F5F;
    border-color: #5F5F5F;
    color: #FFFFFF;
}
.btn-confirm-popup:hover,
.btn-confirm-popup:focus{
    background-color: #525252;
    border-color: #525252;
    color: #FFFFFF;
}
.status{
	margin: 0; 
	padding: 3px; 
	color: #FFFFFF;
	text-align: center;
}
.status-approve{
	background-color: #4D90FD;
}
.status-waitapprove{
	background-color: #dfa63b;
}
.status-cancel{
	background-color: #B3624D;
}
.status-waitcancel{
	background-color: #a44769;
}
.status-notapprove{
	background-color: #ED5B56;
}
.breadcrumb{
	margin: 0; 
	padding: 0;
	padding-left: 5px;
	font-size: 16px; 
	background-color: transparent;
}
.breadcrumb li a{
	color: #FFFFFF;
}
.breadcrumb li.active{
	color: #ababab;
}
.label-warning{
	margin: 0 0 5px 0; 
	padding: 3px 10px;
	color: #FFFFFF;
	text-align: left;
	background-color: #6e6373;
	display: inline-block;
}